body {
  margin: 0; /* Remove default margins */
  height: 100vh; /* Ensure the body takes up full viewport height */
  background-image: url('./assets/AVA RUN BG.png?t=241205'); /* Replace with your image URL */
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling of the image */
}
.topnav {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  text-align: right;
}
.offline .controller { /* fix change id in mobile */
  top: 75px;
}
