html, body, pre, code, kbd, samp {
  font-family: "Press Start 2P";
}
body {
  margin: 0; /* Remove default margins */
  height: 100vh; /* Ensure the body takes up full viewport height */
  background-image: url('https://diewcoftza.github.io/tunder-rush/assets/AVA RUN BG.png?v=2'); /* Replace with your image URL */
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling of the image */
  /**/
  padding: 20px;
}
.topnav {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  text-align: right;
}
h1 {
  text-align: center;
}
.nes-table-responsive table {
  margin: 4px auto !important;
}
.rank-1 {
  background-color: gold;
}
.rank-2 {
  background-color: silver;
}
.rank-3 {
  background-color: #cd7f32;
}
.row-KUB {
  background-color: mediumspringgreen !important;
}
.my {
  text-align: center;
}
.my #country {
  padding: 10px;
  width: 300px;
}
